#head{border-bottom: 1px solid #ccc;height:150px;}
#head .box{display: block;width: 1190px;margin: 0 auto;height: 150px;display: flex;align-items: center}
#head .box a{display: block;width: 219px;height: 91px;}
#head .box a i{display: block;width: 219px;height: 91px;background: url(../img/pic1.png) no-repeat;background-position:-83px 0;}

#main{height: 425px;background:rgba(204,204,204,.3)}
#main .margin{width: 1190px;height:350px;margin:0 auto;display: flex;justify-content:flex-end;}
#main .margin .box{width:300px;background: #fff;border:1px solid #ccc;margin:50px 100px 0 0;}
#main .margin .box{width:300px;background: #fff;border:1px solid #ccc;margin:50px 100px 0 0;}
#main .margin .box .us,.pa,.ph,.em,.bt{font:14px/2 "";margin-top: 20px;text-align: center}
#main .margin .box .bt{text-align: center;margin: 30px 0}
#main .margin .box .bt input{width: 100px;font:16px/2 ""}
#main .margin .box p{padding-left: 10px;margin-bottom: 10px}

#footer{border-top: 1px solid #ccc}
#footer .copy{width: 1190px;margin: 10px auto}
#footer .copy .top{color: #999;}
#footer .copy .center{margin-top: 10px;}
#footer .copy ul{display: flex;margin-top: 20px;}
#footer .copy ul li{margin-right: 30px;}
#footer .copy ul li a{display: flex;width: 55px;height: 50px;background: url(../img/foot_zl.png) no-repeat;}
#footer .copy ul li:nth-child(2) a{width: 55px;background-position: -66px 0;}
#footer .copy ul li:nth-child(3) a{width: 65px;background-position: -132px 0;}
#footer .copy ul li:nth-child(4) a{width: 62px;background-position: -208px 0;}
#footer .copy ul li:nth-child(5) a{width: 70px;background-position: -530px 0;}
#footer .copy ul li:nth-child(6) a{width: 110px;background-position: -609px 0;}