#shortcut{background: #f2f2f2;}
#shortcut .margin{width: 1190px;margin:0 auto;display: flex;justify-content: space-between;}
#shortcut .margin a:hover{color:#dd2727;}
#shortcut .margin .marginL{display: flex;}
#shortcut .margin a{font:12px/30px "";margin: 10px;}
#shortcut .margin .marginR{display: flex;align-items: center}
#shortcut .margin .marginR span{font:12px/30px "";color: #999}
#shortcut .margin .marginR ul{display: flex;}
#shortcut .margin .marginR ul li i{background: url(../img/pic1.png) no-repeat;display: inline-block;margin-right:5px;vertical-align: middle}
#shortcut .margin .marginR ul li:first-child i{width:24px;height:24px;background-position: -52px -3px;}
#shortcut .margin .marginR ul li:nth-child(2) i{width: 15px;height: 14px;background-position:-6px -5px;}
#shortcut .margin .marginR ul li:nth-child(3) i{width: 9px;height:15px;background-position: -35px -5px;}

header{width: 1190px;margin: 30px auto;display: flex;align-items: center;}
header .logo{display: block;}
header .logo i{display: block;width: 219px;height: 91px;background: url(../img/pic1.png) no-repeat;background-position:-83px 0;}
header .search{margin-left: 60px;}
header .search .box{display: flex;}
header .search .box .txt{width: 510px;height: 29px;border: 1px solid #c40000;padding: 3px 0 3px 6px}
header .search .box .btn{width: 80px;height: 37px;color: #fff;background: #c40000;font:16px "";border: #c40000}
header .search ul{display: flex;}
header .search ul li{font:14px/2 "";margin: 3px}

#main{}
#main table{width: 1190px;margin:10px auto 0;}
#main table thead{}
#main table thead tr{display: flex;}
#main table thead tr th{flex:3;border: 1px solid #ccc;font:600 16px/2 "";text-align: center;}
#main table thead tr th:nth-child(2){flex: 5}
#main table tbody{}
#main table tbody tr{display: flex;}
#main table tbody tr td{flex:3;border: 1px solid #ccc;border-top:0;font: 16px/2 "";display: flex;justify-content: center;align-items: center;}
#main table tbody tr td:nth-child(2){flex: 3}
#main table tbody tr td img{width: 100px;height:100px;display: block;margin:10px auto;}
#main table tbody tr td:last-child{text-align: center}
#main table tbody tr td span{cursor: pointer;}
#main table tbody tr td:nth-child(2){flex: 5;padding:0 8px;}
#main table tbody tr td:nth-child(4) input{width: 60px;text-align: center;border: none}
#main table tbody tr td:nth-child(4) span{font:20px/30px "";display: block;width: 30px;height: 30px;text-align: center;background: #ccc;color: #fff;border-radius:10px;}
#main table tbody tr td:last-child span{display: block;width: 80px;height: 30px;font:16px/30px "";color: #fff;background:crimson;border-radius:15px;}
.price{font: 600 14px/2 "";display: flex;align-items: center;justify-content:flex-end;width: 1000px;margin:0 auto; }
.price .pay{width: 80px;height: 30px;text-align: center;background: sandybrown;color: #fff;border-radius: 15px;cursor: pointer;margin:20px}


#footer{width: 1190px;margin: 40px auto 50px;}
#footer .server{}
#footer .server ul{display: flex;border-bottom: 1px solid #bbb;padding-bottom: 20px}
#footer .server ul li{flex: 1;display: flex;justify-content: center;}
#footer .server ul li dl{}
#footer .server ul li dl dt{display: flex;align-items: center;}
#footer .server ul li dl dt i{display: block;width: 25px;height: 25px;background: url(../img/btm_icon.png) no-repeat;}
#footer .server ul li dl dt span{font:600 16px/2 "";margin-left: 10px}
#footer .server ul li:nth-child(2) dl dt i{background-position:-36px 0;}
#footer .server ul li:nth-child(3) dl dt i{background-position:-74px 0;}
#footer .server ul li:nth-child(4) dl dt i{background-position:-112px 0;}
#footer .server ul li:nth-child(5) dl dt i{background-position:-153px 0;}
#footer .server ul li:nth-child(6) dl dt i{background-position:-188px 0;}
#footer .server ul li dl dd a{font:12px/2 "";display: block;}
#footer .copy{margin-top: 20px;}
#footer .copy .top{color: #999;}
#footer .copy .center{margin-top: 10px;}
#footer .copy ul{display: flex;margin-top: 20px;}
#footer .copy ul li{margin-right: 30px;}
#footer .copy ul li a{display: flex;width: 55px;height: 50px;background: url(../img/foot_zl.png) no-repeat;}
#footer .copy ul li:nth-child(2) a{width: 55px;background-position: -66px 0;}
#footer .copy ul li:nth-child(3) a{width: 65px;background-position: -132px 0;}
#footer .copy ul li:nth-child(4) a{width: 62px;background-position: -208px 0;}
#footer .copy ul li:nth-child(5) a{width: 70px;background-position: -530px 0;}
#footer .copy ul li:nth-child(6) a{width: 110px;background-position: -609px 0;}